@use 'agnostic-vue/dist/common.min.css';
@use 'agnostic-vue/dist/index.css';
@use 'agnostic-css/public/css-dist/components.prefixed.css' as AgnosticCss;
@use 'typography';
@use '@fontsource/encode-sans/variable-full.css' as EncodeSans;
@use '@fontsource/exo/variable.css' as Exo;

:root {
	// TYPOGRAPHY VARIABLES

	$sans-serif-stack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
	$mono-stack: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	$serif-stack: Georgia, Cambria, 'Times New Roman', Times, serif;

	--agnostic-font-family-body: 'Encode SansVariable', #{$sans-serif-stack};
	--agnostic-font-family-mono: #{$mono-stack};

	--agnostic-font-family-serif: #{$serif-stack};
	--agnostic-font-family: var(--agnostic-font-family-body);
	--agnostic-header-font-family: var(--agnostic-font-family-body);
	--font-family-display: 'ExoVariable', #{$sans-serif-stack};

	@include typography.body();

	// COLOURS
	--agnostic-primary: #cc0000;
}

h1,
.h1,
h2,
.h2 {
	@include typography.display();
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@include typography.header();
}
